body{
    padding: 40px 40px;
}

.container{
    width: 85%;
    height: 3000px;
    padding: 30px 30px;
    margin: auto;
    text-align: center;
    border: 0px solid red;
}

.load-data{
    border: 2px solid black;
    width: 85%;
    height: 75px;
    margin: auto;
    padding: 15px 0;
}


#refresh-data{
    width: 85%;
    height: 500px;
    border: 0px solid green;
    margin-top: 60px;
    margin-left: 78px;
}


.table{
    width: 100%;
    height: 150px; 
    border: 2px solid black;
    margin-top: 15px;
    
}

#refresh-data .table .row{
    border: 1px solid red;
}

#refresh-data .table .row th {
    border: 0px solid red;
    
}

#refresh-data .table .row td{
    border: 0px solid red;
    width: 12.5%;
    height: 31px;
    padding: 0px;
    background-color: #dfdede;
    font-size: 14px;
    table-layout: fixed;
    
}

/* btn style */
.btn{
    border: 1px solid transparent;
    padding: 2px;
    margin: 3px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3 ease;
    background: #232b38;
    color: #EEBF00;
}
.btn:hover{
    background: #EEBF00;
    color: #232b38;
    border: 1px solid #252a33;
}
/* btn style end */



